/*light theme*//*
:root {
  --main-bg-color: white;
  --main-fg-color: #555555;
  --alt-fg-color: white;
  --color1-light: dodgerblue;
  --color1-dark: #005596;
  --color2: darkorange;
  --focus-color: hsl(200, 75%, 97%);
  --focus-checked-color: #005596
  --decoration-color: #eee;
  --hover-color: #ccc;
}*/
/*dark theme*/
:root {
  --main-bg-color: darkslategrey;
  --main-fg-color: #dddddd;
  --alt-fg-color: white;
  --color1-light: darkorange;
  --color1-dark: hsl(39, 100%, 60%);
  --color2: dodgerblue;
  --focus-color: hsl(180, 25%, 27%);
  --focus-checked-color: hsl(39, 100%, 60%);
  --decoration-color: grey;
  --hover-color: #ccc;
}*/

* {
  margin: 0;
  padding: 0;
}
h1 {
  color: var(--color1-dark);
  margin: 40px 0;
}
p {
  margin-bottom: 40px;
}
#instructions {
  font-size: 22px;
}
#required-note {
  font-size: smaller;
  font-style: italic;
}
.orange {
  color: var(--color2);
}
body {
  background: var(--main-bg-color);
}
main {
  text-align: center;
  font-size: 24px;
  color: var(--main-fg-color);
}
form {
  max-width: 850px;
  margin: auto;
}
.form-field {
  display: flex;
  align-items: center;
  margin: 50px;
}
@media (max-width: 600px) {
  .form-field {
    flex-direction: column;
  }
  
}
label {
  width: 35%;
  text-align: right;
  padding-right: 20px;
  font-weight: bold;
}
@media (max-width: 600px) {
  label {
    width: 90%;
    text-align: left;
    margin-bottom: 15px;
  }
}
.input-group,
.input-group label {
  text-align: left;
  width: 65%;
  height: auto;

}@media (max-width: 600px) {
  .input-group {
    width: 100%;
  }
}
input, select {
  border: none;
  border-bottom: 2px solid var(--color1-light);
  padding: 10px;
  background: var(--main-bg-color);
}
textarea {
  border: 2px solid var(--color1-light);
  background: var(--main-bg-color);
	height: 120px;
	padding: 5px;
	font-family: Tahoma, sans-serif;
  font-size: 20px;
}
input, select, textarea {
  width: 65%;
  font-size: 20px;
  color: var(--color2);
}
input:focus, select:focus, textarea:focus {
  background: var(--focus-color);
  border-color: var(--color1-dark);
  outline: none;
}
@media (max-width: 600px) {
  input, select, textarea {
    width: 100%;
  } 
}

#other-encoder-div{
  margin: -40px 0 15px 95px;
  width: 75%;
}
@media (max-width: 600px) {
  #other-encoder-div label,
  #other-encoder-div input {
    margin-right: 60px;
    width: 85%;
  }
}
#submit {
  max-width: 300px;
  padding: 10px;
  color: var(--alt-fg-color);
  background: var(--color1-light);
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 25px;
}
@media (max-width: 600px) {
  #submit {
    width: 50%;
  } 
}
#submit:hover {
  background: var(--color1-dark);
}
.group-other,
.group-other input {
  margin-left: 55px;
  font-size: 22px;
  width: auto;
  padding: 0 ;
}

.radio-container,
.check-container  {
  display: block;
  margin-left: 20px;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 22px;
}
.check-container input,
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark,
.radiomark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--decoration-color);
}
.radiomark {
  border-radius: 50%;
}
.input-group label {
  color: var(--color1-dark);
}
.check-container:hover input ~ .checkmark,
.radio-container:hover input ~ .radiomark,
.check-container:focus-within input ~ .checkmark,
.radio-container:focus-within input ~ .radiomark {
  background-color: var(--hover-color);
}
.check-container:hover input:checked ~ .checkmark,
.radio-container:hover input:checked ~ .radiomark,
.check-container:focus-within input:checked ~ .checkmark,
.radio-container:focus-within input:checked ~ .radiomark{
  background-color: var(--focus-checked-color);
}
.input-group:focus-within,
.input-group:focus-within .group-other input,
.input-group:active,
.input-group:active .group-other input {
  background: var(--focus-color);
}

.check-container input:checked ~ .checkmark,
.radio-container input:checked ~ .radiomark {
  background-color: var(--color1-light);
}