* {
  margin: 0;
  padding: 0;
}
body {
  background: hsl(269, 50%, 20%);
}
#main {
  color: hsl(180, 80%, 80%);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 600px) {
  #main {
    font-size: 16px;
  }
}

#heading, #footer, #quote {
  text-align: center;
}
#heading {
  padding: 25px 0;
}
#footer {
  padding: 50px 0 10px 0;
}
#contact {
  margin-top: 50px;
}
.section-div, #quote-div {
  padding: 100px 0;
  margin: auto;
  max-width: 600px;
}
@media (max-width: 600px) {
  .section-div {
    padding: 25px;
  }
}
#img-div {
  text-align: center;
  margin: 10px 0;
  padding: 50px 0;
}
@media (max-width: 600px) {
  #img-div, #quote-div {
    padding: 25px;
  }
}
#image {
  display: block;
  width: 300px;
  max-width: 100%;
  height: auto;
  margin: auto;
}
img {
  box-shadow: 10px 10px 20px rgba(0,0,0,0.19), 6px 6px 6px rgba(0,0,0,0.23);
}
#quote {
  padding: 25px;
}
#quote-div {
  display: flex;
  flex-direction: column;
  font-style: italic;
}
#signature {
  display: block;
  width: 350px;
  max-width: 50%;
  box-shadow: none;
  background: hsl(269, 25%, 40%);
  height: auto;
  align-self: flex-end;
  margin-right: 25px;
  color: white;
}
#img-caption {
  font-size: smaller;
  font-style: italic;
  margin-top: 10px;
}
.section-content {
  display: flex;
  align-items: start;
  margin-top: 20px;
}
.section-content p {
  margin-top: 5px;
}
.right{
  text-align: right;
}
.side-img {
  max-width: 150px;
  width: 25%;
  height: auto;
  margin: 15px;
}
ul {
  margin-left: 25px;
}
li {
  margin: 10px 0;
}
a {
  text-decoration: none;
  color: orange;
}
a:hover {
  color: darkorange;
  transition: color .2s;
}
#heading, #quote, #history, #footer {
  background: hsl(269, 25%, 40%);;
}
#contact, #copy {
  font-size: smaller;
  color: lightblue;
}